@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1 {
  font-family: 'Reggae One',cursive;
  font-weight: normal;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
}