.remark-slide-content {
  background-color: #000;
  color: #fff;
  font-size: 25px;
}

strong {
  color: #ffa500;
}

h1 {
  color: #66b933;
}

h2 {
  font-weight: normal;
  color: #66b933;
}

h3 {
  font-weight: normal;
  color: #ffa500;
}

h4 {
  color: #ff0000;
}

h5 {
  color: #faf569;
}

.s {
  font-size: 80%
}

.xs {
  font-size: 50%
}

.kiri {
  float: left;
  width: 62%;
}

.kanan {
  float: right;
  width: 30%;
  margin-top: 10px;

}

.inverse {
  background-color: #add9f1;
  text-shadow: 0 0 0;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #000;
}

.title-slide {
  background-color: #000;
  color: #fff;
}

.title-slide h1, .title-slide h2 {
  color: #66b933;
}

.title-slide h2 {
  color: #ffa500
}

.title-slide h3 {
  color: #daf7f7;
}

a, a > code {
  color: #66b933;
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: rgb(20,20,20) }