@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap');

body {
  font-family: 'Public Sans';
  font-weight: 300;
}

h1 {
  font-family: 'Public Sans';
  font-weight: 400;
}

h2, h3 {
  font-family: 'Public Sans';
  font-weight: 400;
}

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
}