

.reveal {
/*  font-family: 'Cherry Swash', cursive; */
  font-size: 2.2em;
}
.reveal h1,
.reveal h2 {
  font-family: 'EB Garamond', serif;
  color: #66B933;
}

.reveal h3 {
  color: orange;
}

.reveal section h5 {
  color: goldenrod;
}

.reveal section h4 {
  font-family: 'Indie Flower', cursive;
  color: #b1374c;
}

.reveal section h6 {
  color: #ffff00
}

.reveal a:link,
.reveal a:active {
    color: #DD8D29; /*Fantastic Mr. Fox */
    text-decoration: none;
}

/* visited link */
.reveal a:visited {
  /* color: #618994; /* gray */
    color: #24E1BB; /* gray */
    text-decoration: none;
}

/* mouse over link */
.reveal a:hover {
    color: #46ACC8;
}

.reveal .small {
  font-family: "Raleway";
  font-size: 0.5em;
  font-weight: normal;
  text-align: left;
}

.reveal .table {
  font-family: "Raleway";
  font-size: 0.7em;
  font-weight: normal;
}

.reveal ppp {
  text-align: left;
}

.twocolumn {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-gap: 5px;
  font-size: 0.7em;
  text-align: left;
}

.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.left {
  float: left;

}