

.reveal {
/*  font-family: 'Cherry Swash', cursive; */
  font-size: 2.2em;
}
.reveal h1,
.reveal h2,
.reveal h3 {
  font-family: 'Pangolin', cursive;
  color: #66B933;
}

.reveal section h5 {
  color: #5E78FC;
}

.reveal section h4 {
  font-family: 'Indie Flower', cursive;
  color: #b1374c;
}

.reveal section h6 {
  color: #ffff00
}

.reveal a:link,
.reveal a:active {
    color: #DD8D29; /*Fantastic Mr. Fox */
    text-decoration: none;
}

/* visited link */
.reveal a:visited {
  /* color: #618994; /* gray */
    color: #24E1BB; /* gray */
    text-decoration: none;
}

/* mouse over link */
.reveal a:hover {
    color: #46ACC8;
}

.reveal .small {
  font-family: "Raleway";
  font-size: 0.5em;
  font-weight: normal;
}

.reveal .table {
  font-family: "Raleway";
  font-size: 0.7em;
  font-weight: normal;
}

.reveal ppp {
  text-align: left;
}